

header {
    display: block;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Alatsi';font-size: 22px;
    background-image: linear-gradient(to right, rgb(12, 4, 77), rgb(110, 18, 18));
    padding-bottom: 10px;
    padding-top: 10px;
}

#rules {
  font-family: 'Alatsi';
  color: #fff;
}

#form {
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: 'Alatsi';
  color: #fff;
}

body {
  background-color: rgb(20, 20, 20);
}

#circle {
  font-family: 'Alatsi';
  width: 500px;
  height: 500px;
  line-height: 500px;
  border-radius: 50%;
  font-size: 50px;
  color: #fff;
  text-align: center;
  background: rgb(30, 94, 14);
  align-self: center;
  margin: auto;
  border: 3px solid rgb(221, 221, 221);
  padding: 10px;
}

#circleText {
  color: rgb(0, 0, 0);
  position: relative;
  text-align: center;
}

#spc1 {
    width: auto;
    height: 30px;
}

.displays {
  display: flex;
  justify-content: center;
}

#guessDisplay {
  font-family: 'Alatsi';
  margin-right: 10%;
  background-image: linear-gradient(to bottom right, rgb(73, 3, 32), rgb(3, 3, 97));
  width: 150px;
  height: 100px;
  color:#fff;
  text-align: center;
  border: 2px solid rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}

#betDisplay {
  font-family: 'Alatsi';
  background-image: linear-gradient(to top left, rgb(73, 3, 32), rgb(3, 3, 97));
  width: 150px;
  height: 100px;
  color:#fff;
  text-align: center;
  border: 2px solid rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
.button1:hover {
    background-color: #4CAF50;
    color: white;
  }