header {
    display: block;
    text-align: center;
    color: aliceblue;
    font-family: 'Alatsi';font-size: 22px;
}


body {
    color: rgb(255, 255, 255);
    background-color: black;
    font-family: 'Alatsi';
}

footer {
    background-blend-mode: normal;
}

h6 {
    color:antiquewhite;
    border: 1px;
    border-color: black;
    font-size: 28px;
    text-align: center;
}


.container {
    width:600px;
    height:190px;
    padding-top:20px;
    padding-left:15px;
    padding-right:15px;
    }

#st-box {
    float:left;
    width:180px;
    height:160px;
    background: radial-gradient(ellipse at top, #0d0338, transparent),radial-gradient(ellipse at bottom, #4d0f07, transparent);
    }
#nd-box {
    float:left;
    width:180px;
    height:160px;
    background: radial-gradient(ellipse at top, #0d0338, transparent),radial-gradient(ellipse at bottom, #4d0f07, transparent);
    }
#rd-box {
    float:left;
    width:180px;
    height:160px;
    background: radial-gradient(ellipse at top, #0d0338, transparent),radial-gradient(ellipse at bottom, #4d0f07, transparent);
    }

h1 {
    color:rgb(255, 255, 255);
}